
<div class="table">
<table class="table .table1">
  <thead class="t_head">
    <tr>
      <th scope="col">Sl No.</th>
      <th scope="col">Worker name</th>
      <th scope="col">Contact</th>
      <th scope="col">Pincode</th>
      <th scope="col">Photo</th>
      <th scope="col">Id proof</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {{#each data}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.Full_Name}}</td>
      <td>{{this.Contact}}</td>
      <td>{{this.Pincode}}</td>
      <td>{{this.Photo}}</td>
      <td>{{this.Id_proof}}</td>
      <td>{{this.status}}</td>
      <td><form action="/admin/confirm_worker_post/{{this._id}}" method="post"><input class="button" type="submit" name="approve" value="confirm"><br><br></a></form>
      <form action="/admin/confirm_worker_post/{{this._id}}" method="post"><input class="button" type="submit" name="approve" value="reject"><br><br></a></form></td>
    </tr>{{/each}}
   
  </tbody>
</table>
</div>
