<form action="/admin/edit_rental_post/{{data._id}}" method="post" enctype="multipart/form-data">
    <h1 class="p">EDIT RENTAL SERVICES</h1>
<div class="rental"><br><br>
    <div class="rent">
  <div class="form-group">
    <input type="text" class="form-control" id="" aria-describedby="emailHelp" name="Name" value="{{data.Name}}">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="" aria-describedby="emailHelp" name="Wage" value="{{data.Wage}}">
  </div>
  <div class="form-group">
    <input type="file" class="form-control" id="" aria-describedby="emailHelp" name="Image" >
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="" aria-describedby="emailHelp" name="Category" value="{{data.Category}}">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" id="" aria-describedby="emailHelp" required pattern="[0-9]{6}" title="Enter a valid 6-digit pincode" name="Pincode" value="{{data.Pincode}}" name="Pincode" value="{{data.Pincode}}">
  </div>
  <div class="form-check slot">
  <input class="form-check-input" type="checkbox" name="slot1" value="Mon" id="flexCheckDefault">Mon&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input" type="checkbox" name="slot2" value="Tue" id="flexCheckDefault">Tue&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input" type="checkbox" name="slot3" value="Wed" id="flexCheckDefault">Wed&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input" type="checkbox" name="slot4" value="Thu" id="flexCheckDefault">Thur&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input" type="checkbox" name="slot5" value="Fri" id="flexCheckDefault">Fry&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input class="form-check-input" type="checkbox" name="slot6" value="Sat" id="flexCheckDefault">Sat&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="form-check-input" type="checkbox" name="slot7" value="Sun" id="flexCheckDefault">Sun<br>
</div>
  <div class="form-group">
  <button type="submit" class="submit">edit</button>
  </div>
  
  </div>
</div>
</form>