<a href="/admin/add_products"><button class="button1">ADD</button></a>
<br><br>



            
    <form action="/admin/view_products_search" method="post">
    <datalist id="suggestions" >{{#each data1}}
      {{this}}
     <option value="{{this}}"> {{this}}</option>
        {{/each}}
    </datalist>
    <input  autoComplete="on" list="suggestions" name="Category">
    <input type="submit" value="search" class="search_button1">
</form>

<table class="table .table1">
  <thead class="t_head">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
       <th scope="col">Image</th>
      <th scope="col">Pincode</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}<tr>
      <td>{{this.Name}}</td>
      <td>{{this.Price}}</td>
      <td>{{this.Category}}</td>
      <td><img src="/images/photos/{{this._id}}.jpg" height="200px" width="300px" alt=""> </td>
      <td>{{this.Pincode}}</td>
      <td></td>
      <td>
      <form action="/admin/delete_post_product/{{this._id}}" method="post"><input class="button" type="submit" value="Delete"><br><br></a></form>
      <form action="/admin/edit_post_product/{{this._id}}" method="post"><input class="button" type="submit" value="Edit"><br><br></a></form></td>
    </tr>{{/each}}

  </tbody>
</table>
