<a href="/admin/rental"><button class="button1">ADD</button></a>
<br><br>

            
    <form action="/admin/view_rental_search" method="post">
     <datalist id="suggestions" >{{#each data1}}
      {{this}}
     <option value="{{this}}"> {{this}}</option>
        {{/each}}
    </datalist>
    <input  autoComplete="on" list="suggestions" name="Category">
    <input type="submit" value="search" class="search_button1">
</form>
<table class="table .table1">
  <thead class="t_head">
    <tr>
    
      <th scope="col">Service name</th>
      <th scope="col">Wage</th>
      <th scope="col">Image</th>
      <th scope="col">Category</th>
      <th scope="col">Pincode</th>
      <th scope="col">slots</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>{{#each data}}
      <td>{{this.Name}}</td>
      <td>{{this.Wage}}</td>
      <td> <img src="/images/photos/{{this._id}}.jpg" height="200px" width="300px" alt=""> </td>
      <td>{{this.Category}}</td>
      <td>{{this.Pincode}}</td>
      <td>{{this.slot1}}
      {{this.slot2}}
      {{this.slot3}}
      {{this.slot4}}
      {{this.slot5}}
      {{this.slot6}}</td>
      <td>      <form action="/admin/edit_post_rent/{{this._id}}" method="post"><input class="button" type="submit" value="Edit"><br><br></a></form>
<br><br>
      <form action="/admin/delete_post/{{this._id}}" method="post"><input class="button" type="submit" value="Delete"><br><br></a></form></td>
    </tr>{{/each}}
    
  </tbody>
</table>
