
<table class="table .table1">
  <thead class="t_head">
        <tr>
      <th scope="col">Name</th>
      <th scope="col">Wage</th>
      <th scope="col">Category</th>
      <th scope="col">Pincode</th>
      <th> Slot</th>
      <th scope="col">Address</th>
      <th>Rating</th>
      <th></th>
     

      
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <td>{{this.Name}}</td>
      <td>{{this.Wage}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.Pincode}}</td>
      {{#if slot1}}<td>{{this.slot1}}</td>{{/if}}
      {{#if slot2}}<td>{{this.slot2}}</td>{{/if}}
       {{#if slot3}}<td>{{this.slot3}}</td>{{/if}}
       {{#if slot4}}<td>{{this.slot4}}</td>{{/if}}
       {{#if slot5}}<td>{{this.slot5}}</td>{{/if}}
       {{#if slot6}}<td>{{this.slot6}}</td>{{/if}}
       {{#if slot7}}<td>{{this.slot7}}</td>{{/if}}
      <td>{{this.Date}}</td>
      <td>{{this.Address}}</td>
<td><div class="rate">
 {{#if this.rate5}}
    <input type="radio" id="{{this._id}}-star5" checked disabled name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4"  name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2" name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
      
  
  
       {{else if this.rate4}}
    <input type="radio" id="{{this._id}}-star5"  name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4" checked disabled name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2" name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
    
  
   {{else if this.rate3}}
    <input type="radio" id="{{this._id}}-star5"  name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4"  name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" checked disabled name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2" name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
 
   {{else if this.rate2}}
    <input type="radio" id="{{this._id}}-star5"  name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4"  name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3"  name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2" checked disabled name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>

   {{else if this.rate}}
    <input type="radio" id="{{this._id}}-star5"  name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4"  name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2"  name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" checked disabled name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
    {{else}}
  <input type="radio" id="{{this._id}}-star5"  name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4"  name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2"  name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
    <td>
  <input type="submit" class="button" value="Rate"></td>
  {{/if}}
</div></td>
</div>
      
       </tr>{{/each}}
  </tbody>
</table>
