<div class="work_request">
  
<a href="/worker/view_works" class="re">Accepted works</a><br>
<hr>
</div>
 <div class="work_request">Work Requests</div>
    <div>
        <form action="/worker/pincode_purchase" method="post">
     <datalist id="suggestions" >{{#each data}}
     <option> {{this.Pincode}}</option>
        {{/each}}
    </datalist>
    <input  autoComplete="on" list="suggestions" name="pincode">
    <input type="submit" value="search" class="search_button1">
</form>
    </div><br><br>
<div class="work_body">
<div class="container">
  <div class="row">
      {{#each data}}
    <div class="col-sm">
      <div class="card req row-sm" style="width: 18rem; height:fit-content">
  <div class="card-body">
    <form action="/worker/accept_work/{{this._id}}" method="post">
    <h5 class="card-title"><input type='text'value='{{this.Type}}' readonly class="booking1" name="Type"></h5>
    <h6 class="card-subtitle mb-2 text-muted"><input type='text'value='{{this.Date}}' readonly class="booking1" name="Date"></h6>
    <p class="card-text"><input type='text'value='{{this.Address}}' class="booking1" readonly name="Address"></p>
    <p class="card-text"><input type='text'value='{{this.Pincode}}' class="booking1" readonly name="Pincode"></p>
    <p class="card-text"><input type='text'value='{{this.Contact}}' class="booking1" name="Contact"><br>
  Worker required
    <input type='text' value='{{this.Worker_Nos}}' id='work' class="booking1" name="Worker_Nos"> 
    <p class="card-text"><input type='number' placeholder="Add your Contact" required   name="Worker_Contact"><br>
    <br><input type="submit" class="search_button">
    
    <input type='text' value="{{../data1}}" class="booking1" name="user_id" hidden></p><br>
    <input type='text'value='{{this.user_id}}'  class="booking1" name="Farmer_id" hidden></p><br>
    </form>
    </div>
  </div>
    </div>
    {{/each}}
    
{{!-- 
    <div class="col-sm">
     <div class="card req row-sm" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Work type</h5>
    <h6 class="card-subtitle mb-2 text-muted">Location</h6>
    <p class="card-text">Date</p>
    <p class="card-text">Contact</p><br>

    <a href="#" class="card-link"><input type="button" class="search_button" value="Accept"></a>
    </div>
  </div>
    </div>

    <div class="col-sm">
      <div class="card req row-sm" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Work type</h5>
    <h6 class="card-subtitle mb-2 text-muted">Location</h6>
    <p class="card-text">Date</p>
    <p class="card-text">Contact</p><br>
    <a href="#" class="card-link"><input type="button" class="search_button" value="Accept"></a>

    </div>
  </div>
    </div>

    <div class="col-sm">
      <div class="card req row-sm" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Work type</h5>
    <h6 class="card-subtitle mb-2 text-muted">Location</h6>
    <p class="card-text">Date</p>
    <p class="card-text">Contact</p><br>
    <a href="#" class="card-link"><input type="button" class="search_button" value="Accept"></a>

    </div>
  </div>
    </div>

    <div class="col-sm">
      <div class="card req row-sm" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Work type</h5>
    <h6 class="card-subtitle mb-2 text-muted">Location</h6>
    <p class="card-text">Date</p>
    <p class="card-text">Contact</p><br>
    <a href="#" class="card-link"><input type="button" class="search_button" value="Accept"></a>

    </div>
  </div>
    </div>

    <div class="col-sm">
      <div class="card req row-sm" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Work type</h5>
    <h6 class="card-subtitle mb-2 text-muted">Location</h6>
    <p class="card-text">Date</p>
    <p class="card-text">Contact</p><br>
    <a href="#" class="card-link"><input type="button" class="search_button" value="Accept"></a>

    </div>
  </div>
    </div></div></div></div>
 <div class="work_request">Reviews</div>


    
  </div>
</div> --}}