 <head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="marq">
 <marquee behavior="" direction="" >
 {{#each data1}}
 {{this.Notification}} ---
 {{/each}}
 </marquee>
</div>
  
 <div class="work_request">Work Requests</div>
    
<div class="work_body">
<div class="container">
   <div class="row">
      {{#each data}}
    <div class="col-sm">
      <div class="card req row-sm" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.Type}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{this.Date}}</h6>
    <p class="card-text">{{this.Address}}</p>
    <p class="card-text">{{this.Pincode}}</p><br>
    <p class="card-text">{{this.Contact}}</p><br>

    <form action="/" method="post"><a href="worker_register"><button type="button" class="search_button">Register </button></form></a>
    </div>
  </div>
    </div>
    {{/each}}
