<div class="check">
    <h1>Shopping Cart</h1>
  </div>
  <form>
<div class="table table_cart">
<table class="table ">
  <thead class="t_head_cart">
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
      {{data1.Name}}
    </tr>
  </thead>
  <tbody>{{#each data1}}
    <tr>
      <td>{{this.Name}}</td>
      <td>{{this.Price}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.pincode}}</td>
      <td>{{this.quantity}}</td>
      <td>{{this.Address}}</td>
    </tr>{{/each}}
  </tbody>
</table>
<div class="total">

SUB TOTAL

 <br><br>         <button class="button_cart">Checkout</button>

</div>
</div>
</form>


