<div class="check">
    <h1>My orders</h1>
  </div>

<div class="table table_cart">
<table class="table ">
  <thead class="t_head_cart">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Pincode</th>
      <th scope="col">Quantity</th>
      <th scope="col">Address</th>
      <th scope="col">Total</th>
      <th scope="col">Status</th>
      <th scope="col">Add Rating</th>
      <th scope="col"></th>
      <th></th>
     
    </tr>
  </thead>
  <tbody>{{#each data}}
  <form action="/user/rating_order/{{this._id}}" method="post">
    <tr>
      <td>{{this.Name}}</td>
      <td>{{this.Price}}</td>
      <td>{{this.Pincode}}</td>
      <td>{{this.Quantity}} in kg</td>
      <td>{{this.Address}}</td>
      <td>{{this.Total}}</td>
      <td>{{this.Status}}</td>
          <td><div class="rate">
    {{#if this.rate5}}
    <input type="radio" id="{{this._id}}-star5" checked disabled name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4"  name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2" name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
      
  
  
       {{else if this.rate4}}
    <input type="radio" id="{{this._id}}-star5"  name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4" checked disabled name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2" name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
    
  
   {{else if this.rate3}}
    <input type="radio" id="{{this._id}}-star5"  name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4"  name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" checked disabled name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2" name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
 
   {{else if this.rate2}}
    <input type="radio" id="{{this._id}}-star5"  name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4"  name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3"  name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2" checked disabled name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>

   {{else if this.rate}}
    <input type="radio" id="{{this._id}}-star5"  name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4"  name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2"  name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" checked disabled name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
    {{else}}
  <input type="radio" id="{{this._id}}-star5"  name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4"  name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2"  name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
    <td>
  <input type="submit" class="button" value="Rate"></td>
  {{/if}}
  </div>
  </td>
      </form>
      {{/each}}
</table>


</div>
</div>




