<div class="check">
    <h1>My orders</h1>
  </div>

<div class="table table_cart">
<table class="table ">
  <thead class="t_head_cart">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Pincode</th>
      <th scope="col">Quantity</th>
      <th scope="col">Address</th>
      <th scope="col">Total</th>
      <th>Add Rating</th>
      <th scope="col"></th>
     
    </tr>
  </thead><form action="/customer/rating/{{this._id}}" method="post"></form>
  <tbody>{{#each data}}
    <tr>
      <td>{{this.Name}}</td>
      <td>{{this.Price}}</td>
      <td>{{this.Pincode}}</td>
      <td>{{this.Quantity}}</td>
      <td>{{this.Address}}</td>
      <td>{{this.Total}}</td>
      <td><div class="rate">
    <input type="radio" id="{{this._id}}-star5" name="rate" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4" name="rate" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" name="rate" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2" name="rate" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
  </div>
  </td>
  <td>

  <input type="submit" class="button" value="Rate"></td>

    </tr>{{/each}}
  </tbody></form>
</table>


</div>
</div>
</form>


