<form action="/farmer/farm_edit_post/{{data._id}}" method="post" enctype="multipart/form-data">
    <h1 class="f_head">UPDATE PRODUCTS</h1>
<div class="farmform"><br><br>
    <div class="rent">
  <div class="form-group">
    <input type="text" required  class="form-control"  id=""  name="Name" required placeholder="Name" value="{{data.Name}}">
  </div>
  <div class="form-group">
    <input type="number" class="form-control"  id=""   title="Enter a valid price" name="Price" required  value="{{data.Price}}" placeholder="Price">
  </div>
  <div class="form-group">
    <input type="text" required  class="form-control"  id=""  name="Category" required value="{{data.Category}}" placeholder="Category">
  </div>
  <div class="form-group">
    <input type="file" class="form-control"  id=""  name="Image"  placeholder="image">
  </div>
  <div class="form-group">
    <input type="number" class="form-control"  id=""  name="Stock" required value="{{data.Stock}}" placeholder="stock">
  </div>
  <div class="form-group">
    <input type="text" required  class="form-control"  id=""   required pattern="[0-9]{6}" title="Enter a valid 6-digit pincode" name="Pincode" value="{{data.Pincode}}" placeholder="pincode" pattern=".{6,}" title="must contain atleast 6 numbers">
  </div>
   <div class="form-group">
    <input type="text" required  class="form-control"  id=""  name="user_id" value="{{data.user_id}}" hidden>
  </div>
  <div class="form-group">
  <button type="submit" class="submit">Add</button>
  </div>
  
  </div>
</div>
</form>
