<div class="prof">
<img src="/images/id_proof/{{data._id}}.jpg" class="pro"><br>
<table class="t_pro">
    <tr><td>Name : {{data.Full_Name}}</td></tr>
    <tr><td>Contact : {{data.Contact}} </td></tr>
    <tr><td>Pincode : {{data.Pincode}} </td></tr>
          {{!-- <tr><td><form action="/farmer/delete_account/{{this._id}}" method="post"><input class="button8" type="submit" value="Delete"></a></form></td></tr> --}}

    
    
</table>
</div>