
<div class="farm_tabel">
<table class="table .table1">
  <thead class="t_head1">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Pincode</th>
      <th scope="col">Address</th>
      <th>Add rating</th>
      <th></th>
     

      
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <form action="/farmer/rating_purchase/{{this._id}}" method="post">
    <tr>
      <td>{{this.Name}}</td>
      <td>{{this.Price}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.Pincode}}</td>
      <td>{{this.Address}}</td>
       <td><div class="rate">
    <input type="radio" id="{{this._id}}-star5" name="rate" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4" name="rate" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" name="rate" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2" name="rate" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
  </div>
  </td>
  <td>
  <input type="submit" class="button" value="Rate"></td>
       </tr>{{/each}}
  </tbody>
</table></form>
</div>
