
<div class="farm_tabel">
<table class="table .table1">
  <thead class="t_head1">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Pincode</th>
      <th scope="col">Address</th>
      <th>Add rating</th>
      <th></th>
     

      
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <form action="/farmer/rating_purchase/{{this._id}}" method="post">
    <tr>
      <td>{{this.Name}}</td>
      <td>{{this.Price}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.Pincode}}</td>
      <td>{{this.Address}}</td>
     
       <td><div class="rate">
        {{#if this.rate5}}
    <input type="radio" id="{{this._id}}-star5" checked disabled name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4"  name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2" name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
      
  
  
       {{else if this.rate4}}
    <input type="radio" id="{{this._id}}-star5"  name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4" checked disabled name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2" name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
    
  
   {{else if this.rate3}}
    <input type="radio" id="{{this._id}}-star5"  name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4"  name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" checked disabled name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2" name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
 
   {{else if this.rate2}}
    <input type="radio" id="{{this._id}}-star5"  name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4"  name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3"  name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2" checked disabled name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>

   {{else if this.rate}}
    <input type="radio" id="{{this._id}}-star5"  name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4"  name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2"  name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" checked disabled name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
    {{else}}
  <input type="radio" id="{{this._id}}-star5"  name="rate5" value="5" />
    <label for="{{this._id}}-star5" title="text">5 stars</label>
    <input type="radio" id="{{this._id}}-star4"  name="rate4" value="4" />
    <label for="{{this._id}}-star4" title="text">4 stars</label>
    <input type="radio" id="{{this._id}}-star3" name="rate3" value="3" />
    <label for="{{this._id}}-star3" title="text">3 stars</label>
    <input type="radio" id="{{this._id}}-star2"  name="rate2" value="2" />
    <label for="{{this._id}}-star2" title="text">2 stars</label>
    <input type="radio" id="{{this._id}}-star1" name="rate1" value="1" />
    <label for="{{this._id}}-star1" title="text">1 star</label>
    <td>
  <input type="submit" class="button" value="Rate"></td>
  {{/if}}

  </div>

  </td>
  
</form>
       </tr>{{/each}}
  </tbody>
</table>
</div>
