
<form action="/farmer/purchase_booking_post/{{data._id}}" method="post">
<img src="/images/photos/{{data._id}}.jpg" class="b_image">
<div class="booking">
<input type="text" class="booking1" name="Name" value="{{data.Name}}" readonly><br>
<input type="text" class="booking1" name="Price" value="{{data.Price}}" readonly><br>
<input type="text" class="booking1" name="Category" value="{{data.Category}}"readonly><br>
{{!-- Description<br> --}}
<input type="text" class="booking1" name="Pincode" value="{{data.Pincode}}" readonly><br>
{{!-- <input type="date"  class="form-control" placeholder="date" name="Date"> --}}
<br><textarea name="Address" placeholder="Address"></textarea><br><br>
<input type="text" class="booking1" name="userid" value="{{data1}}" readonly hidden><br>

<input type="submit"  class="button2" value="book">
</div></form>
<div class="rating">
    name     reviews<br>
             ratings
</div>