
<img src="/images/photos/{{data._id}}.jpg" class="b_image">
<div class="booking">
{{data.Name}}<br>
{{data.Wage}}<br>
{{data.Category}}<br>
Description<br>
{{data.Pincode}}<br>
slot<br>
<form>
<input type="date"  class="form-control" placeholder="date">
<br><textarea placeholder="Address"></textarea><br><br>
<button value="Book" class="button2">Book</button>
</div></form>
<div class="rating">
    name     reviews<br>
             ratings
</div>