
<div class="farm_tabel">
<table class="table .table1">
  <thead class="t_head1">
    <tr>
      <th scope="col">Work type</th>
      <th scope="col">Address</th>
      <th scope="col">Date</th>
      <th scope="col">Worker Contact</th>
      <th scope="col">Status</th>
      <th scope="col">Add Reviews</th>
      <tH></tH>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <form action="/farmer/rating/{{this._id}}" method="post">
      <td>{{this.Type}}</td>
      <td>{{this.Address}}</td>
      <td>{{this.Date}}</td>
      <td>{{this.Worker_Contact}}</td>
        <td>{{this.status}}</td>
        <td><div class="rate">
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
  </div>
  </td>
  <td>

  <input type="submit" class="button" value="Rate"></td>
      </form>

<!-- rating.js file -->

       </tr>{{/each}}
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
<script>
 const ratings = document.getElementsByName('rate');

// loop through all radio buttons and add an event listener to each
ratings.forEach(function(rating) {
    rating.addEventListener('click', function() {
        // get the value of the selected radio button
        const selectedRating = this.value;
        console.log(selectedRating);
    });
    
});
</script>