
<div class="farm_tabel">
<table class="table .table1">
  <thead class="t_head1">
    <tr>
      <th scope="col">Sl No.</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.Name}}</td>
      <td>{{this.Image}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.Price}}</td>
      <td>{{this.Stock}}</td>
  
      <td><button class="button">Remove</button>
      <td><button class="button">Edit</button>
    </tr>{{/each}}
  </tbody>
</table>
</div>
