
<div class="farm_tabel">
<table class="table .table1">
  <thead class="t_head1">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Pincode</th>
      <th scope="col">Quantity</th>
      <th scope="col">Address</th>
      <th scope="col">Total</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th></th>
     
    </tr>
  </thead>
  <tbody>{{#each data}}
    <tr>
      <td>{{this.Name}}</td>
      <td>{{this.Price}}</td>
      <td>{{this.Pincode}}</td>
      <td>{{this.Quantity}}</td>
      <td>{{this.Address}}</td>
      <td>{{this.Total}}</td>
      <td>{{this.Status}}</td>

                    <form action="/farmer/status/{{this._id}}" method="post">
      <td>
          <input type="text" required  class="form-control"  id=""  required name="Status" placeholder="Status">

        
      </select></td>

                  <td>

                    <input type="submit" class="button" value="update"><br><br>
                    </form>
    </tr>{{/each}}
  </tbody>
</table>
</div>
